.destaque{
    background-image: linear-gradient(180deg, transparent 45%, rgba(0,0,0,0.8)) ,url('Imagens/Destaque.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 42vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.destaque_detalhes{
    margin-left: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destaque_titulo{
    font-size: 3.5vw;
    width: 45%;
    padding-bottom: 5%;
}

.destaque_botao{
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 1vw;
    border-radius: 0.5vw;
    padding: 1vw 3vw;
    background-color: white;
    opacity: 0.9;

}

.destaque_botao:hover{
    background-color: rgb(255, 255, 255, 0.4);
    transition: all 0.2s;
}

.destaque_descricao{
    padding-top: 4%;
    text-align:justify;
    width: 42%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25vw;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; 
}

@media screen and (max-width: 884px) {
    .destaque{
        height: 55vw;
    }
    .destaque_titulo{
        font-size: 6vw;
        display:block;
        padding-bottom: 10%;
    }
    .destaque_botao{
        font-size: 2.5vw;
        font-weight: 700;
    }
    .destaque_descricao{
        padding-top: 7%;
        width: 50%;
        font-size: 2.2vw;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 
        
    }
     
}