.destaque{
    background-image: linear-gradient(180deg, transparent 45%, rgba(0,0,0,0.8)) ,url('Imagens/Destaque.png');
    background-size: cover;
    color: white;
    height: 40vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.destaque_detalhes{
    margin-left: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destaque_titulo{
    font-size: 3vw;
    width: 45%;
    margin-top: 1vw;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.destaque_botao{
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1vw;
    border-radius: 0.5vw;
    margin-top: 1rem;
    padding: 1vw 3vw;
    background-color: white;
    opacity: 0.9;
}

.destaque_botao:hover{
    background-color: rgb(255, 255, 255, 0.4);
    transition: all 0.2s;
}

.destaque_descricao{
    padding-top: 1vw;
    text-align:justify;
    width: 28%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25vw;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; 
}

@media screen and (max-width: 884px) {
    .destaque{
        height: 55vw;
    }
    .destaque_titulo{
        font-size: 5vw;
        display:block;
    }
    .destaque_detalhes{
        margin-left: 20px;
    }
    .destaque_botao{
        font-size: 4vw;
        margin-top: 10vw;
    }
    .destaque_descricao{
        display:none;
    }
    
}