* {
    margin: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    display: flex;
    justify-content:space-between;
    padding: 0 20px;
    background: transparent;
    transition: all ease 0.6s;
}

body {
    background-color: #111111;
    margin-top: 3rem;
}

.filmes{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row{
    color: white;
    margin-left: 20px;
}

.posters:hover{
    transform: scale(1.10);
}

.filmes::-webkit-scrollbar{
    display: none
}

.posters {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.usuario{
    height: 40px;
    padding-top: 2px;
}

.usuario img{
    height: 100%;
}

.button-top{
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 10px;
    border-style: none;
    background-color: transparent;
    color: white;
    opacity: 1;
    cursor: pointer;
}

.button-top:hover{
    transform: scale(1.10);
}


footer{
    margin: 50px; 
    text-align: center;
    color: white;
}
