.header{
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
    top: 0;
    display: flex;
    justify-content:space-between;
    padding: 0 4%;
    background:none;
    background-image: linear-gradient(0deg, transparent, rgba(37,37,37,0.8), #111);
}

.button-top{
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 10px;
    border-style: none;
    background-color: transparent;
    color: white;
    opacity: 1;
    cursor: pointer;
}

.button-top:hover{
    transform: scale(1.10);
}

@media only screen and (max-width: 884px){
    #header-series, #header-acao, #header-drama {
        display: none;
    }
    .button-top{
        font-size: 70%;
    }
    .header{
        font-size: 0.8rem;
    }
    
}