.filmes{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row{
    color: white;
    margin-left: 20px;
    margin-top: -2.5vw;
    font-size: 1.3vw;
}

.posters:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.filmes::-webkit-scrollbar{
    display: none
}

.posters {
    max-width: 20vw;
    margin-right: 10px;
    transition: transform 450ms;
    margin-bottom: 3vw;
}

@media  only screen and (max-width: 884px) {
    .row{
        font-size: 3vw;
    }
    .posters{
        max-width: 40vw;
    }
    .filmes{
        padding: 10px;
    }
}
