.fileiras{
    margin-bottom: 30px;
}

.fileiras h2{
    margin: 0px 0px 0px 30px;
    font-size: 1.4vw;
}

.area-fileiras{
    /* Tudo que passar na horizontal fica escondido */
    overflow-x: hidden;
    padding-left: 30px;
}

.list-fileiras{
    width: 99999999px;
}

.item-fileiras{
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.item-fileiras img{
    width: 100%;
    transform: scale(0.90);
    transition: all ease-in-out 0.2s;
}

.item-fileiras img:hover {
    transform: scale(1.0);
}